body {
    background: #ffffff;
    /* Old MSN white */
    background: url('@/assets/bg.jpg') no-repeat center center fixed;
    /* Light blue gradient */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.msn-messenger-window {
    width: 450px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.msn-messenger-header {
    background-color: #0072c6;
    color: white;
    padding: 10px;
    text-align: center;
}

.msn-messenger-header h1 {
    font-size: 20px;
    margin: 0;
}

.msn-messenger-nav {
    background-color: #cfcfcf;
    padding: 5px;
}

.msn-messenger-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.msn-messenger-nav li {
    display: inline;
    margin-right: 20px;
}

.msn-messenger-nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 14px;
}
.msn-messenger-nav a:hover {
    text-decoration: underline;
}

.msn-messenger-body button:hover {
    background-color: #005a9e; /* Slight color change on hover */
}
.msn-messenger-body {
    padding: 10px;
}

.msn-messenger-body input,
.msn-messenger-body select,
.msn-messenger-body button {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.msn-messenger-body button {
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    height: 50px;
}

.msn-messenger-footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    margin-top: 48px;
}

.msn-messenger-footer a {
    color: black;
    text-decoration: none;
}
/* Add this style for the profile picture */
.profile-picture {
    text-align: center;
    margin-bottom: 10px;
}

.profile-picture img {
    width: 150px; /* Adjust the size as needed */
    height: 150px;
    border-radius: 5%; /* Make it a circle */
    border: 2px solid #0072c6; /* Border color */
    margin-top: 20px;
    margin-bottom: 20px;
}
